.container {
  max-width: 1370px;
  margin: 0 auto;
  padding-right: 32px;
  padding-left: 32px;
}

.container-lg {
  max-width: 1468px;
  margin: 0 auto;
  padding-right: 32px;
  padding-left: 32px;
}